.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Galery-Card {
    height: 17vw; 
    width:100%;
}

@media (max-width: 1279px) {

  .Galery-Card {
    height: 20vw; 
    width:100%;
  }

}

@media (max-width: 959px) {

  .Galery-Card {
    height: 30vw; 
    width:100%;
  }

}

@media (max-width: 599px) {

  .Galery-Card {
    height: 60vw; 
    width:100%;
  }

}


.Galery-textDiv{
  -webkit-transition: all 0.2s ease-out; /* Safari y Chrome */
  -moz-transition: all 0.2s ease-out;  /* Firefox */
  -o-transition: all 0.2s ease-out;  /* IE 9 */
  -ms-transition: all 0.2 ease-out;  /* Opera */
  transition: all 0.2s ease-out; 

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.mainCardDiv{
  height:100%; 
  overflow: hidden;
  position: relative; 
  cursor: pointer;
}

.mainCardDiv:hover .Galery-textDiv {
  opacity: 1;
  background-color: rgba(0,0,0,0.65);
}

.mainCardDiv:hover .hoverImage {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform: scale(1.05);
}

/* Slow-motion Zoom Container */
.hoverImage{
  -webkit-transition:all 0.25s ease; /* Safari y Chrome */
  -moz-transition:all 0.25s ease; /* Firefox */
  -o-transition:all 0.25s ease; /* IE 9 */
  -ms-transition:all 0.25s ease; /* Opera */
  transition: all 0.25s ease;
  transform-origin: center center;
  overflow: hidden;
  mask-image: -webkit-radial-gradient(white, white);
  border: 50px  transparent;
}

.titulo{
  font-size: 1.5em;
  color: white;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.especialidad{
  color: white;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.Galefy-filter{
  margin: 0;
  padding: 15px 0;
}

.Galefy-filter a{
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.slick-dots{
  bottom: 25px !important;
  }

.slick-dots li{
  margin: 0 15px !important;
}

.slick-dots li button{
  width: 30px !important;
  height: 5px !important;
}

.slick-dots li button:before{
  content: "" !important;
  background-color: white;
  width: 30px !important;
  height: 5px !important;
  border-radius: 8px;
  
}

.slick-dots li.slick-active button:before{
  color: white !important;
  
}

.zoom-img-normal{
  width: 100%;
  height: 10em;
  object-fit: cover;
  
}

*:focus{
  outline: none;
}



